.post {
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding:20px;
    margin-bottom: 20px;
}

.on-comment{
    display:none;
}

.on-comment.display{
    display: block;
}

.like.liked {
    background: red;
}

.post h3 {
    margin-top:0;
}

.post img {
    width: 100%;
}